<mat-accordion (click)="getAllCommentsByChapterId()">
  <mat-expansion-panel [disabled]="isChapterDisabled()">
    <mat-expansion-panel-header>
      <mat-panel-title> Districtul {{ chapterNr }} </mat-panel-title>
      <mat-panel-description>
        {{ chapterDescription }}
      </mat-panel-description>
    <p style="margin-top: 0.5rem;margin-right: 2rem; display: inline-block;">{{getScore()}}</p>
    </mat-expansion-panel-header>

    <h5>{{ chapterDescription }}</h5>
    <mat-divider></mat-divider>
    <br />
    <!-- TO DO: Here it should be a custom text displayed instead of app-chapter-text-content-->
    <app-chapter-text-content [content]="content"></app-chapter-text-content>

    <!-- Videos -->
    <br />
    <h5>Recomandări video</h5>
    <mat-divider></mat-divider>
    <br />
    <app-video-player [videoLinks]="videoLinks"></app-video-player>

    <br />
    <h5>Glosar</h5>
    <mat-divider></mat-divider>
    <br />

    <div>
      <app-glossary [wordAndMeaning]="glossary"></app-glossary>
    </div>

    <br />
    <div>
      <button
        mat-raised-button
        color="primary"
        (click)="onStartTestButtonClick(chapterNr)"
      >
        Incepe testul
      </button>
    </div>

    <br />
    <br />
    <h5>Secțiune de comentarii</h5>
    <mat-divider></mat-divider>
    <br />
    <mat-expansion-panel class="comments-section">
      <mat-expansion-panel-header>
        <ng-container *ngFor="let comment of comments">
          <app-chapter-comments
            [username]="comment.author"
            [commentText]="comment.text"
            [commentDate]="comment.date"
          >
          </app-chapter-comments>
        </ng-container>
        <button mat-fab color="primary" class="add-comment-button" (click)="openAddCommentDialog()">
          <mat-icon>add</mat-icon>
        </button>

        <ng-template #addCommentDialog>
          <h2 mat-dialog-title>Add Comment</h2>
          <mat-dialog-content>
            <mat-form-field>
              <input matInput [(ngModel)]="newCommentText" placeholder="Comment text">
            </mat-form-field>
          </mat-dialog-content>
          <mat-dialog-actions>
            <button mat-button (click)="closeAddCommentDialog()">Cancel</button>
            <button mat-button color="primary" (click)="addNewComment()">Save</button>
          </mat-dialog-actions>
        </ng-template>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-expansion-panel>
</mat-accordion>
<!-- <app-glossary [wordAndMeaning]="glossary"></app-glossary> -->
