<div fxLayoutAlign="center center" fxFlexFill class="main-auth-layout">
  <mat-card fxFlex="25">
    <mat-toolbar color="primary">QuizApp login</mat-toolbar>
    <form fxLayoutAlign="stretch" fxLayout="column" class="auth-form" [formGroup]="authFormGroup" (ngSubmit)="authSubmit()">
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="email">
      </mat-form-field>
    
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password">
      </mat-form-field>
      <button mat-raised-button type="submit">Login</button>
    </form>
  </mat-card>
</div>