<mat-accordion class="example-headers-align" multi>
  <div *ngFor="let chapter of chapters">
    <app-chapter
      [chapterNr]="chapter.id"
      [chapterDescription]="chapter.description"
      [setIsQuizzOpen]="setIsQuizzOpen"
      [videoLinks]="chapter.videoLinks"
      [glossary]="chapter.glossary"
      [setQuizzChapter]="setQuizzChapter"
      [setQuizzId]="setQuizzId"
      [userProgress]="userProgress"
      [userResults$]="userResults$"
      [$results]="$results"
    ></app-chapter>
  </div>
</mat-accordion>
